extends ../base/layout

block data
  include ../data/filter-data

block variables
  - var title = "TastyCookery"
  - var wrapperMod = ""
  - var currentPage = "" //- для остальных страниц пишем либо пустую строку, либо индекс

block main

