//- Базовые
//- ---------------------------------

include ../mixins/basic/sprite
include ../mixins/basic/icon
include ../mixins/basic/img


//- Компоненты
//- ---------------------------------

include ../mixins/components/tag
include ../mixins/components/link
include ../mixins/components/button
include ../mixins/components/switch
include ../mixins/components/filter
include ../mixins/components/dropdown
include ../mixins/components/checkbox
include ../mixins/components/accordion
include ../mixins/components/pagination
include ../mixins/components/input-search
include ../mixins/components/article
include ../mixins/components/banner
include ../mixins/components/forecast-card
include ../mixins/components/bookmaker-card
include ../mixins/components/training-card
