-
  var filterData = [
    {
      search: false,
      reset: true,
      title: "Редакция",
      active: true,
      checkboxes: [
        "Ежедневные экспрессы",
        "Суперэкспрессы",
        "Тоталы",
      ],
    },
    {
      search: true,
      reset: false,
      title: "Команда",
      active: true,
      checkboxes: [
        "Александр Вишневский",
        "Константин Генич",
        "Кирилл Дементьев",
      ],
    },
  ]
